{% extends 'shared/base.html' %}

{%block title%}
    <title>Change email</title>
{%endblock%}

{% block content %}

<div class="container text-light">
    <div class="row mb-3 my-3">
        <h3 class="display-5">Change email</h3>
        <div class="text-danger font-weight-bold">
            {% for error in errors %}
                <li>{{error}}</li>
            {% endfor %}
        </div>
    </div>

    <div class="row-mb">
        <form method="post">
            <div class="mb-3">
                <label>Your password</label>
                <input type="password" required name="password" class="form form-control">
            </div>
            <div class="mb-3">
                <label>Your new email</label>
                <input type="text" name="email" value="{{user.email}}" class="form form-control" required placeholder="email">
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Submit</button>
                <a href="/settings/" class="btn btn-danger">Cancel</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
