{% extends 'shared/base.html' %}

{% block title %}
    <title>Login</title>
{% endblock %}

{% block content %}
    <div class="container">
        <div class='row'>
            <h5 class="display-5">Login</h5>
            <div class="text-danger font-weight-bold">
                {% for error in errors %}
                    <li>{{error}}</li>
                {% endfor %}
            </div>
        </div>


      <div>
        <form method="post">
            <div class="mb-3">
                <label>Email</label>
                <input type="text" required placeholder="Your email" name="email" value="{{email}}" class='form-control'>
            </div>
            <div class="mb-3">
                <label>Password</label>
                <input type="password" name="password" value="{{password}}" class='form-control'>
            </div>
            <button type="submit" class="btn btn-primary">submit</button>
            <a href="/signup/" class="btn btn-primary">Signup</a>
        </form>
      </div>
    </div>
{% endblock content %}
