{% extends 'shared/base.html' %}

{% block title %}
  <title>P-connection</title>
{% endblock %}

{% block content%}
<script>
  function like(id){
    fetch("/votes/"+id,{
        method:"POST"
    ,})
    .then(response=>response.json())
    .then(document.getElementById(id).innerHTML ="")
    .then(data => document.getElementById(id).innerHTML = data.vote)
}
</script>

<div class="container-fluid">
  <div class="row my-2">
    {% if user %}
      <div class="col-sm-4 mb-1">
        <a href="/user-info/{{user.id}}" class="text-uppercase btn btn-primary">{{user.username}}</a>

      </div>
    {% else %}
      <div class="col-sm-4 mb-1">
        <a href="/login/" class="btn btn-primary text-center">Login</a>
      </div>
    {% endif %}
    <div class="row ">
      <div class="col">
        <a href="/create-post" class="btn btn-primary">Post +</a>
      </div>
    </div>

  </div>
</div>

<div class="container">
  {%for post in posts %}
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6 card shadow bg-body rounded ">
          <a href="/user-info/{{post.owner_id}}">{{post.username}}</a>
      </div>
      <div class="col-sm-3"></div>
    </div>
    <div class="row " >
      <div class="col-sm-3"></div>
      <div class="col-sm-6 card shadow bg-body rounded ">
        {% if not content == ""%}
          <p>{{post.content}}</p>
        {% endif %}
      </div>
      <div class="col-sm-3"></div>
    </div>
    <div class="row">
      <div class="col-sm-3"></div>
        <div class='col-sm-6 card shadow bg-body rounded text-center'>
        {% if post.media %}
          <img src="data:;base64,{{post.media}}">
        {% endif %}
        </div>
      <div class="col-sm-3"></div>
    </div>
    <div class="row " >
      <div class="col-sm-3"></div>
      <div class="col-sm-3 card shadow bg-body rounded mb-3">
        <p id="{{post.id}}">{{post.votes}}</p>
      </div>
      <div class="col-sm-3 card shadow bg-body rounded mb-3">
        <button class="btn btn-primary bth-sm" onclick="like({{post.id}})">like</button>
      </div>
      <div class="col-sm-3"></div>
    </div>

    {% endfor %}
</div>
{%endblock%}
